* {
    margin: 0px;
    padding: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.sectionOne, footer {
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
}

.links {
    display: flex;
    gap: 20px;

}

h1 {
    font-size: 30px;
}

a {
    font-size: 20xpx;
    text-decoration: none;
}

h1,a {
    color: white;
}

.contenedorUno {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 100px;
}


.texto {
    width: 500px;
    color: white;
}

.titleOne {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.subtitle {
    font-size: 23px;
    color: #e5e7eb;
}

button {
    font-size: 20px;
    padding: 10px 25px;
    color: white;
    background-color: #3882F6;rgb(97, 141, 223)
}

.img0 {
    width: auto;
    height: 250px;
}

.sectionTwo {
    text-align: center;
    padding: 40px;
}

.titleTwo {
    font-size: 40px;
    font-weight: 900;
    padding-bottom: 30px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.subcontent {
    width: 200px;
    padding-bottom: 50px;
}

.img1 {
    height: 150px;
    width: 180px;
}

.sectionThree {
    background-color: #e5e7eb;
    padding: 100px 200px;
}

.cita {
    font-size: 30px;
    font-style: italic;
}

.thorXD {
    font-size: 30px;
    font-weight: 900;
    text-align: end;
}

.sectionFour {
    background-color: rgb(56, 147, 221);
    margin: 100px 130px;
    padding: 40px 60px;
    display: flex;
    justify-content: space-between;
}

.contenedorTexto {
    color: white;
}

.titleThree {
    font-size: 30px;
}

.signUpMessage {
    font-size: 20px;
}

footer {
    padding: 20px;
    text-align: center;
    color: white;
}